Bold RT_RCDATA "Fett.bmp"
Italic RT_RCDATA "Kursiv.bmp"
Underline RT_RCDATA "Unterstrichen.bmp"
Left RT_RCDATA "Links.bmp"
Center RT_RCDATA "Mittig.bmp"
Right RT_RCDATA "Rechts.bmp"
Justify RT_RCDATA "Block.bmp"
Fontfavoriten RT_RCDATA "Favoriten.bmp"
FontColor RT_RCDATA "Fontfarbe.bmp"
BackgroundColor RT_RCDATA "Fontfarbe2.bmp"
ParagraphBackgroundColor RT_RCDATA "Fontfarbe3.bmp"
IdentInc RT_RCDATA "EinrückenRechts.bmp"
IdentDec RT_RCDATA "EinrückenLinks.bmp"
Save RT_RCDATA "Speichern.bmp"
Open RT_RCDATA "Öffnen.bmp"
Picture RT_RCDATA "Bild.bmp"
LargeEditor RT_RCDATA "Editor.bmp"
TextHoch RT_RCDATA "Hoch.bmp"
TextTief RT_RCDATA "Tief.bmp"
StandardFont RT_RCDATA "Standardfont.bmp"
Bullets RT_RCDATA "AufzählungPunkt.bmp"
Number RT_RCDATA "AufzählungZahl.bmp"
LineSpace RT_RCDATA "Zeilenabstand.bmp"
Print RT_RCDATA "Drucken.bmp"
Clipboard RT_RCDATA "Clipboard.bmp"
Reverse RT_RCDATA "Rückgängig.bmp"
Cut RT_RCDATA "Ausschneiden.bmp"
Paste RT_RCDATA "Paste.bmp"


